:root{
    --Color-Principal: #FFFFFF;
    --Color-Secundario: #04B4E0;
    --Color-BackGround: #F2F7F9;
    --Color-Transparente: transparent;
    --Color-Icono: #B5B6B7;
    --Color-Texto: #555;
    --Color-Titulos: #222222;
    --Color-SubTitulo: #888;
}

h1, h2, h3, h4, h5, h6{
    color: var(--Color-Titulos);
}

/* ESTILOS GENERALES */

@media(min-width: 970px){

    /* Pantallas Grandes */

    .Layout-Pequeño{
        display: none;
    }

    /* LAYOUT GRANDE Y MEDIANO */

    .Layout{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }

}

@media(min-width: 510px) and (max-width: 969px){

    /* Pantallas Medianas */

    .Layout-Pequeño{
        display: none;
    }

    /* LAYOUT GRANDE Y MEDIANO */

    .Layout{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

}

@media(max-width: 509px){

    /* Pantallas Grandes */

    .Layout-Pequeño .Label-Menu{
        cursor: pointer;
        position: sticky;
        top: 0px;
        left: 80%;
        z-index: 2;
    }

    .Layout-Pequeño .Label-Menu #Spn-1, #Spn-2, #Spn-3{
        position: absolute;
        content: '';
        background: var(--Color-Secundario);
        width: 20px;
        height: 4px;
        top: 3px;
        border-radius: 4rem;
        transition: all 400ms ease-in-out;
    }

    .Label-Menu #Spn-2{
        top: 8px;
    }

    .Label-Menu #Spn-3{
        top: 13px;
    }

    .Layout-Pequeño #Btn-Menu{
        position: relative;
        top: 0px;
        left: 80%;
        z-index: 2;
        display: none;
    }

    .Layout-Pequeño #Btn-Menu:checked ~ .Label-Menu #Spn-1{
        transform: rotate(140deg);
        top: 8px;
        background: var(--Color-Principal);
    }

    .Layout-Pequeño #Btn-Menu:checked ~ .Label-Menu #Spn-2{
        opacity: 0;
    }

    .Layout-Pequeño #Btn-Menu:checked ~ .Label-Menu #Spn-3{
        transform: rotate(-140deg);
        top: 8px;
        background: var(--Color-Principal);
    }

    .Layout-Pequeño .Label-Header{
        display: none;
    }

    .Layout-Pequeño #Btn-Menu:checked ~ .Label-Header{
        display: block;
        text-align: center;
        position: absolute;
        top: 0%;
        z-index: 1;
        left: 48.9%;
        width: 50%;
        height: 100%;
    }

    /* LAYOUT GRANDE Y MEDIANO */

    .Layout{
        display: none;
    }

}